
.clean-list {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.no-margin{
  margin: 0 auto;
}

a {
  text-decoration: none;
}


.pointer {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.show {
  display: block;
}

.text-align {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}





