
/*----------  Game card Font  ----------*/

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu/Ubuntu-Bold.ttf'); 
}
@font-face {
  font-family: 'Ubuntu-regular';
  src: url('~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf'); 
}


@font-face {
  font-family: 'Lato-regular';
  src: url('~@/assets/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('~@/assets/fonts/Lato/Lato-Bold.ttf'); 
}

@font-face {
  font-family: 'PaytoneOne';
  src: url('~@/assets/fonts/PaytoneOne/PaytoneOne-Regular.ttf'); 
}


.header {
  font-size: rem(30px);
}