

.user-img {
    width: 50px;
    height: 50px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 50%;
}

.user-game-container {
    position: absolute;
    top: -100px;
    left: -75px;
}

.user-details {
    position: absolute;
    top: -27px;
    left: -58px;
    align-items: center;
}

.user-details-container {
    position: relative;
}

.nameUser {
    font-size: 1.3em;
}