$container-width: 1063px;
$mobile-breakpoint: 642px;

$main-color : #0D72FA;
$secondary-color : #F6AB2B;
$border-color : #dadada;
$third-color: #f56c6c;
$card-text-color: #f5f5f5;
$main-hover-color : rgba(13, 116, 250, 0.726);
