$container-width: 1063px;
$mobile-breakpoint: 642px;

$main-color : #0D72FA;
$secondary-color : #ff9322;
$border-color : #dadada;
$card-text-color: #f9f9f9a1;
$msg-bg-color: #f6f5f5;
$main-hover-color : rgba(13, 116, 250, 0.726);
$secondary-color-hover : rgba(246, 172, 43, 0.808);